
:root {
  /* catppuccin btw lol */

  /* colors */
  --bg: #24273a;
  /* --text: #f6f6f6; */
  --text: #cad3f5;

  /* fonts */
  --font-main: "Inter", sans-serif;
  --font-serif: "Instrment Serif";
  --font-mono: "Geist Mono";
  --font-chill: "Permanent Marker"; /* make it the ones from figma later lol */
}

* {
  box-sizing: border-box;
}

body {
  font-family: --font-main;
  background-color: var(--bg);
  color: var(--text);
}

  /* also active = on-click and link = unvisited and visited = visited*/
  /* purple is #c6a0f6 */
  /* All links */
  a {
    color: #f5bde6; /* pink */
    text-decoration: none; /* removes the underline*/
  }

  /* Mouse-over (hover) state */
  a:hover {
    color: #7dc4e4; /* blue */
  }
